<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   
    <title>Title</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body style="background: lightblue ">
<div class="container pt-lg-5">
    <div class="row jumbotron" style="background: #f1b0b7;">
        <div class="col">
            <div><img src="/media/anna-rathin.jpg" alt="bal" style="max-width: 100%; border-radius: 50%"></div>
        </div>
        <div class="col" style="font-style: oblique;">
            <div style="text-align: center; font-size: x-large ; "><b>Sarkar's Rooftop Garden</b><hr color="green"></div>

            <div style="margin-right: auto; text-align: justify; padding-top: 1rem; font-size: larger">
                <b>"আন্না কুঠির"</b>, home of <b>Rathindra Nath Sarkar</b> and <b>Anna rani Sarkar</b> with their two
                children.
                It is a 3 stairs building and they have a beautiful rooftop garden there. Both of Mr. and Mrs. Sarkar
                loves gardening a lot.
                Plants of various kinds (flowers, vegetables, fruits etc.) wii be found there. They love to
                experiment and interestingly they have been successful to have fruits like "sugarcane plant",
                "Watermelon", "Pineapple" etc which are not so popular to have in
                your rooftop garden. This gardening is a good practice for both mental and physical health for the
                family.

            </div>
        </div>

    </div>


</div>
</body>
</html>