<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body style="background: coral">

<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-success">
    <!-- <marquee scrollamount="10"><h4>This website is still under modification!</h4></marquee> -->
    <ul class="navbar-nav ml-auto">
        <li><a class="nav-link navbar-brand" href="#">About</a></li>
    </ul>
</nav>

<div class="container ">
    <div class="jumbotron " style="background: #f1b0b7 ">

        <div style="margin-left:30px ">
            <h1><b>Sarkar's Rooftop Garden</b></h1>
            <h5> Do gardening, be happy!</h5>
        </div>

        <!--------------------------------------------this shit works------------------------------------------->
        <div class="row pb-4 pl-5 " style="column-gap: 20px; text-align: center ;padding-top: 50px ">
            <a href="{% url 'flower' %}"><div class="column" style="background: #fd7e14; height: 200px; width: 250px;"> <h2 style="padding-top: 30%; color: black">Flowers</h2> </div></a>
            <a href="{% url 'fruit' %}"> <div class="column" style="background: #b21f2d; height: 200px; width: 250px; alignment: bottom"><h2 style="padding-top: 30%; color: black"> Fruits</h2></div></a>
        </div>

        <div class="row pb-4 pl-5" style="column-gap: 20px; text-align: center ">
            <a href="{% url 'vegetable' %}"><div class="column" style="background:#1c7430 ; height: 200px; width: 250px"><h2 style="padding-top: 30%; color: black">Vegetables</h2></div></a>
            <a href="{% url 'other' %}"><div class="column" style="background: #6f42c1; height: 200px; width: 250px "><h2 style="padding-top: 30%; color: black">Others</h2></div></a>
        </div>

    </div>

</div>

</div>
</body>
</html>
